- name: Allow 'sudo' group to have passwordless sudo
  become_method: su
  become_user: root
  lineinfile:
    dest: /etc/sudoers
    state: present
    regexp: '^%sudo'
    line: '%sudo ALL=(ALL) NOPASSWD: ALL'

- name: Ensure group "sudo" exists
  ansible.builtin.group:
    name: sudo
    state: present

# - name: Add ansible user to sudo group
#   become: true
#   become_method: su
#   become_user: root
#   user:
#     name={{ ansible_user }}
#     groups=sudo
#     append=yes
#     state=present
#     createhome=no